# Ćwicznie 3

In [7]:
import psycopg2 as pg
import pandas as pd
from sqlalchemy import create_engine

***Łączenie za pomocą sqlAlchemy:***

In [41]:
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)

connection_sqlalchemy = db.connect()

In [42]:
# result_set = db.execute("SELECT * FROM city")  
# for r in result_set:  
#     print(r)

***Łączenie za pomocą pandas:***

In [43]:
# connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

# df = pd.read_sql('select * from city',con=connection)
# df

# Zadania:

***Zadanie 1:***

In [53]:
category = pd.read_sql('select distinct name from category',con=connection_sqlalchemy)
category_num = len(category.index)
print("Liczba różnych kategorii:", category_num)

Liczba różnych kategorii: 16

***Zadanie 2:***

In [79]:
category = pd.read_sql('select distinct name from category order by name',con=connection_sqlalchemy)
category

           name
0        Action
1     Animation
2      Children
3      Classics
4        Comedy
5   Documentary
6         Drama
7        Family
8       Foreign
9         Games
10       Horror
11        Music
12          New
13       Sci-Fi
14       Sports
15       Travel

***Zadanie 3:***

In [82]:
year = pd.read_sql('select distinct ON (release_year) release_year, title from film order by release_year ASC',con=connection_sqlalchemy)
print("Najmłodszy film:")
year

Najmłodszy film:

   release_year            title
0          2006  Chamber Italian

In [83]:
year = pd.read_sql('select distinct on (release_year) release_year, title from film order by release_year DESC',con=connection_sqlalchemy)
print("Najstarszy film:")
year

Najstarszy film:

   release_year            title
0          2006  Chamber Italian

***Zadanie 4:***

In [108]:
rental = pd.read_sql('select rental_date from rental',con=connection_sqlalchemy)
rental['rental_date'][0]

Timestamp('2005-05-24 22:54:33')